.noise {
	text-align: right;
	display: block;
	float: center;
    margin: auto;
}

.noise h2 {
	padding-bottom: 15px;
}

.noise h3 {
	padding-bottom: 8px;
}

.noise select {
  width: 45%;
  margin-right: 60px;
}