.noise {
	text-align: center;
	display: block;
    margin: auto;
}

.noise h2 {
	padding-bottom: 15px;
}

.noise h3 {
	padding-bottom: 8px;
}

.noise h2, .noise h3, .noise h4{
	text-align: center;
	padding-bottom: 20;
}

.noise select {
  width: 45%;
  margin-right: 60px;
}