.noise {
	text-align: center;
	display: block;
	background: grey;
	border-radius: 15px;	
	margin: auto;
}

.noise h2 {
}

.noise h3 {
}

.noise h2, .noise h3, .noise h4{
	text-align: center;
}

.noise select {
  width: 45%;
  margin-right: 60px;
}
