.oscillator {
	text-align: center;
}

.oscillator h2 {
}

.oscillator h3 {
}

.oscillator h2, .oscillator h3, .oscillator h4{
	text-align: center;
}

.oscillator select {
  width: 58%;
}

@media only screen and (min-width: 768px) { 
	text-align: right; 
}

@media only screen and (max-width: 767px) { 
	text-align: center;
}