
.instrumentName {
	font-size: 1vw;
	width: 6%;
	display: inline-block;
  	vertical-align: center;
  	text-overflow:ellipsis;
  	overflow: hidden;
  	text-align: right;
  	padding-right: 1vw;
}

.sequencerRow * {
	position: relative;
	white-space: nowrap;
  	overflow: auto;
}