.synth {
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
  font-family: 'RobotoMono';
  font-size: .7rem;
}

.synth h2 {
  font-family: 'Bungee';
  padding-top: 20;
}

.synth-header {}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#play {
  background: transparent;
  border: none;
  padding-left: 15px;
  outline: none;
}

#activeInstument {
  width: 100px !important;
}

label {
  display: inline;
  width: 100px;
  text-align: left;
}

input[type=text] {
  width: 50px;
  margin-left:10px;
}
/*
label:before {
  content: '\A';
  white-space: pre;
}*/

.mainVolume input[type=range] {
  width: 25% !important;
}

input[type=range] {
  -webkit-appearance: none;
  width: 45% !important;
  display: inline !important;
}
input[type=range]:after {
    content: '\A';
    white-space: pre;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 45% !important;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.73);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(54, 126, 189, 0.73);
}
input[type=range]::-moz-range-track {
  width: 45% !important;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(48, 113, 169, 0.73);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 24px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 50% !important;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(42, 100, 149, 0.73);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(48, 113, 169, 0.73);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(48, 113, 169, 0.73);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(54, 126, 189, 0.73);
}
