@font-face {
	font-family: 'Bungee';
	src: url('./shared/fonts/Bungee-Regular.ttf');

	font-style: normal;
  	font-weight: 400;
}

@font-face {
	font-family: 'BungeeHairline';
	src: url('./shared/fonts/BungeeHairline-Regular.ttf');

	font-style: normal;
  	font-weight: 400;
}
.header {
	font-family: 'Bungee';
	font-size: 10vw;
	margin-bottom: 20px;
}
.thin {
	font-family: 'BungeeHairline';
	font-size: 0.4em;
	text-align: left;
	margin-right: 24%;
}
a:link {
	text-decoration: none;
	color: inherit;
}

a {
	color: inherit;
}
.control {
	font-size: 3vw;
	color: grey;
	padding: 1vw;
}
.control:hover {
	color: black;
}
.left {
	display: inline-block;
	text-align: right;
	width: 80%;
	margin-right: 10%;
}
.right {
	width: 30%;
	display: inline-block;
	text-align: right;
	margin-right: 10%;
}