.oscillator {

	text-align: left;

}

.oscillator h2 {
	padding-bottom: 15px;
}

.oscillator h3 {
	padding-bottom: 8px;
}

.oscillator h2, .oscillator h3, .oscillator h4{
	text-align: left;
/*	margin-left: 12%;
*/}

/*.headingContainer {
	width: 85%;
	display: block;
	margin-left:auto; 
	margin-right:0;
}*/

.oscillator select {
  width: 50%;
/*  margin-right: 60px;*/
}

@media only screen and (min-width: 768px) { 
	text-align: right; 
}

@media only screen and (max-width: 767px) { 
	text-align: center;
}